* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

#root {
  --primaryClr: #fffffff;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0px;
  border-radius: 55px;
  width: 100%;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
}
.mrtop2rem {
  margin-top: 2rem;
}
.mrtop2andHalfrem {
  margin-top: 2.5rem;
}
.cp {
  cursor: pointer;
}
.opacity06 {
  opacity: 0.6;
}
